

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-heading {
    font-family: "Poppins", sans-serif;
  }
  .font-body {
    font-family: "Open Sans", sans-serif;
  }
}